.title{
    color: darkblue;
    font-style: italic;
}
.contactsWrapper {
    border: 2px solid darkblue;
    padding: 20px 20px;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(blue, 10%, pink);

}
.phonebookWrapper {
    border: 2px solid darkblue;
    padding: 20px 20px;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(blue, 10%, pink);
}