.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    background-color: rgb(217, 232, 227);
    max-width: 600px;
    margin: 50px auto;
    border: 2px solid darkblue;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 3px 3px #3f51b5;
}

.inputForm {
    width: 350px;
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
}

.button {
    width: 100px;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px auto;
    box-shadow: 5px 3px 3px #3f51b5;
}

.button:hover,
.button:focus {
    background-color: #3f51b5;
}